<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test of Server</title>
    <!-- Bootstrap de la carpeta "assets"-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- link configuración propia de nuestros estilos stylePages.css-->
    <link rel="stylesheet" href="assets/css/stylesPage.css">
</head>